<div class='container'>
    <h2>Connecting</h2>
    <p>In order to connect with instructors and helpers worldwide, there'll be (at least) two channels for communication that everyone is encouraged to participate in:</p>
    <ul>
        <li><strong>Google Hangouts on Air</strong> will broadcast the live sessions above at <a href="">this URL</a>.</li>
        <li><strong>Chat online</strong> with everyone via <a href="https://swcarpentry.slack.com/">our Slack channel</a>. If you haven't Slacked with us before, you can get an invite to the channel <a href='http://swc-slack-invite.herokuapp.com/'>here</a>.</li>
    </ul>

</div>
