<footer class="content">
  <div class="container">
    <div class="links">
      <a href="https://software-carpentry.org">Software Carpentry</a>
      <a href="https://datacarpentry.org">Data Carpentry</a>
      <a href="https://software-carpentry.org/conduct.html">Code of Conduct</a>
      <a href="https://software-carpentry.org/license.html">License</a>
      <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=S8vwe82RZTXru44e_u3Eiep-RyGSJlsNbsb1B_yhVcteWB7k_UQEz8Yr5-a&dispatch=5885d80a13c0db1f8e263663d3faee8d0b9dcb01a9b6dc564e45f62871326a5e">Donate!</a>
      <a href="mailto:admin@software-carpentry.org">Email</a>
      <a href="https://twitter.com/swcarpentry">Twitter</a>
      <a href="https://software-carpentry.org/feed.xml">RSS</a>
      <a href="https://github.com/swcarpentry">GitHub</a>
      <a class="bugreport" href="mailto:admin@software-carpentry.org">Bug Report</a>
    </div>
  </div>
</footer>
