<div class='container center headline'>

    <h3>You're invited to the</h3>
    <h1>Software & Data Carpentry Instructor & Helper Retreat</h1>
    <h3>November 14, 2015</h3>

    <p>We're inviting all Software & Data Carpentry instructors and helpers to get together at sites around the world for a day of sharing skills, trying out new lessons and ideas and discussing all things instructor and helper related. For more details, check out the <a href="">blog post</a>, or <a href="mailto:mentoring@lists.software-carpentry.org">email the Mentoring Committee</a>.</p>

</div>