<div class='container' id='host'>
    <h2>Hosting a Site</h2>
    <p>If you'd like to host a site, the requirements are simple:</p>
    <ul>
        <li><a href="mailto:mentoring@lists.software-carpentry.org">Email the Mentoring Committee</a> and let us know right away, so we can get you set up.</li>
        <li><strong>Find some space</strong> for people to meet that's accessible, and can accommodate lots of people with laptops.</li>
        <li><strong>Reach out to your community</strong> to let them know what's happening.</li>
        <li><strong>Arrange for a video connection</strong> to the global Google Hangout on Air, so your site can lead a session on the <a href="#broadcast">broadcast sessions</a> list above.</li>
        <li><strong>Brainstorm with your community</strong> on what kind of broadcast session you'd all like to lead; we'd like every site to try to lead a one-hour session, if possible.</li>
        <li></strong>Create a schedule for local practice teaching sessions</strong> - encourage everyone to try something new!</li>
    </ul>
</div>