<div class='container' id='remote'>
    <h2>Participating Remotely</h2>
    <p>If you're unable to join one of the local sites, that's OK! In addition to watching the <a href="#broadcast">broadcast sessions</a>, there are two other ways for you to participate from anywhere on the web:
    </p>
    <ul>
        <li>Remote participants are welcome to convene a session themselves; please <a href="mailto:mentoring@lists.software-carpentry.org">email the Mentoring Committee</a> with your idea, and we'll get you on the list.</li>
        <li>Many sites will be making time for participants to practice new lessons and get feedback from their peers; if you'd like a chance to teach, contact a site in your timezone by following the link in the pin on the map above, or contact the Mentoring Committee and we'll help put you in touch.</li>
    </ul>

</div>
