<div class='container' id='broadcast'>
    <h2>Broadcast Sessions</h2>
    <p>Throughout the day, we're inviting sites and individuals to lead lessons, discussions and other sessions, broadcast live on Google Hangouts on Air. The sessions so far are listed below. 
    <ul>
        <li><strong>Want to lead a session?</strong> <a href='https://github.com/swcarpentry/instructor-retreat-2015/issues'>Open an issue here</a> or <a href="mailto:mentoring@lists.software-carpentry.org">email the Mentoring Committee</a> to let us know, and we'll get you on the list!</li>
        <li><strong>Want to request a session?</strong> <a href='https://github.com/swcarpentry/instructor-retreat-2015/issues'>Open an issue here</a> or <a href="mailto:mentoring@lists.software-carpentry.org">email the Mentoring Committee</a> and we'll try to find someone to lead it!</li>
    </ul>

    <table>
        <tr class='header'>
            <td>Time</td>
            <td>Link</td>
            <td>Organizer(s)</td>
            <td>More Details</td>
            <td>Notes & Questions</td>
        </tr>
        <tr>
            <td>3:00 AM UTC</td>
            <td><a href="https://plus.google.com/events/crfkatradggqr3m18e5pq1q5l3s">Contributorship session</a></td>
            <td>Isabell Kiral-Kornek</td>
            <td>Walk through of the process of contributing back to Software Carpentry</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-3AM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>10:00 AM UTC</td>
            <td>Making friends with Python 3</td>
            <td>Dave Jones</td>
            <td>What to watch when transitioning from Python 2 to Python 3</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-10AM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>11:00 AM UTC</td>
            <td><a href="https://plus.google.com/events/cfm3tc375c142qtodvlvcfs82l4">Contributorship session</a></td>
            <td>Greg Wilson</td>
            <td>Walk through of the process of contributing back to Software Carpentry</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-11AM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>2:00 PM UTC</td>
            <td>Learner prior knowledge variation</td>
            <td>Kraków, Poland</td>
            <td>Round-table discussion: splitting students into basic/advanced groups</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-2PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>3:00 PM UTC</td>
            <td><a href="https://plus.google.com/events/cijqgu6639fvdp7ejot602qq7uc">Interactive learning</a></td>
            <td>Lex Nederbragt</td>
            <td>Simple online and offline resources for making learning more interactive</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-3PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>4:00 PM UTC</td>
            <td><a href="https://plus.google.com/u/0/events/ctdcqev5h4ppncpia5o6np1hp00">Alternative version control lesson</a></td>
            <td>Remi Daigle</td>
            <td>Teaching Git and Github without the command line</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-4PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>5:00 PM UTC</td>
            <td><a href="https://plus.google.com/events/cgmakoi1lhg3h7n0g850muck34o">Contributorship session</a></td>
            <td>Christina Koch</td>
            <td>Walk through of the process of contributing back to Software Carpentry</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-5PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>6:00 PM UTC</td>
            <td><a href="https://plus.google.com/events/cbktff42q0mpsoosbne1kr2h3nc">Version control pedagogy</a></td>
            <td>John Corless</td>
            <td>Split-screen approach to teaching Version Control</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-6PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>7:00 PM UTC</td>
            <td><a href="https://plus.google.com/events/c41eaub933br0odpb385rcg9j00">Roundtable Discussion</a></td>
            <td>Various sites</td>
            <td>Round-table discussion: Software Carpentry as a University course</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-7PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>8:00 PM UTC</td>
            <td><a href="https://plus.google.com/events/ctev8a564difsu9lghq2ucft0vo">Socrative</a></td>
            <td>Kate Hertweck</td>
            <td>How to test student learning in real time via Socrative</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-8PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>9:00 PM UTC</td>
            <td>Data Management</td>
            <td>University of Oklahoma - Norman</td>
            <td>Round-table discussion: Data Management Plans and Management</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-9PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>10:00 PM UTC</td>
            <td><a href="https://plus.google.com/u/1/events/cdp30r9sqkca6vr1ri4pt0uhteo">SQL</a></td>
            <td>Christina Koch</td>
            <td>A walkthrough of the Software Carpentry SQL lesson</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-10PM-UTC'>Etherpad</a></td>
        </tr>
        <tr>
            <td>11:00 PM UTC</td>
            <td>Software installation session</td>
            <td>Matt Davis</td>
            <td>Tips and tricks on installing workshop software</td>
            <td><a href='http://pad.software-carpentry.org/swc-instructor-retreat-2015-11PM-UTC'>Etherpad</a></td>
        </tr>
    </table>

</div>

