<div class='container' id='broadcast'>
    <h2>Broadcast Sessions</h2>
    <p>Throughout the day, we're inviting sites and individuals to lead lessons, discussions and other sessions, broadcast live on Google Hangouts on Air. Here are the sessions so far; have an idea for something not on the list? <a href="mailto:mentoring@lists.software-carpentry.org">Email the Mentoring Committee</a> and we'll help you book a one-hour slot.</p>

    <table>
        <tr class='header'>
            <td>Time</td>
            <td>Topic</td>
            <td>Organizer(s)</td>
            <td>More Details</td>
        </tr>
    </table>

</div>

