<div class='container' id='broadcast'>
    <h2>Broadcast Sessions</h2>
    <p>Throughout the day, we're inviting sites and individuals to lead lessons, discussions and other sessions, broadcast live on Google Hangouts on Air. The sessions so far are listed below. 
    <ul>
        <li><strong>Want to lead a session?</strong> <a href='https://github.com/swcarpentry/instructor-retreat-2015/issues'>Open an issue here</a> or <a href="mailto:mentoring@lists.software-carpentry.org">email the Mentoring Committee</a> to let us know, and we'll get you on the list!</li>
        <li><strong>Want to request a session?</strong> <a href='https://github.com/swcarpentry/instructor-retreat-2015/issues'>Open an issue here</a> or <a href="mailto:mentoring@lists.software-carpentry.org">email the Mentoring Committee</a> and we'll try to find someone to lead it!</li>
    </ul>

    <table>
        <tr class='header'>
            <td>Time</td>
            <td>Topic</td>
            <td>Organizer(s)</td>
            <td>More Details</td>
        </tr>
        <tr>
            <td>3:00 AM GMT</td>
            <td>Contributorship Session</td>
            <td>TBD</td>
            <td>Walk through of the process of contributing back to Software Carpentry</td>
        </tr>
        <tr>
            <td>10:00 AM GMT</td>
            <td>Contributorship Session</td>
            <td>TBD</td>
            <td>Walk through of the process of contributing back to Software Carpentry</td>
        </tr>
        <tr>
            <td>5:00 PM GMT</td>
            <td>Contributorship Session</td>
            <td>Christina Koch</td>
            <td>Walk through of the process of contributing back to Software Carpentry</td>
        </tr>
        <tr>
            <td>8:00 PM GMT</td>
            <td>Socrative</td>
            <td>Kate Hertweck</td>
            <td>How to test student learning in real time via Socrative</td>
        </tr>
    </table>

</div>

